# Stripe Keys
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=

# App URL (Required for Stripe redirects)
APP_URL=

# Identity Verification Passwords
VITE_MR_FLOWER_PASSWORD=
VITE_MS_BUTTERFLY_PASSWORD=
